$darker-grey: #29292e;
$dark-grey: #737380;
$medium-grey: #a8a8b3;
$light-grey: #e2e2e2;
$lighter-grey: #f8f8f8;

$disabled-color: #F4F0FF;;

$main-color: #835afd;
$link-color:#e559f9;
$google-color: #ea4335;
$white: #FFF;
